In [1]:
import pandas as pd
import numpy as np

In [3]:
df2010 = pd.read_csv('../Data/s2010.tdf', sep='\t', engine='python', names=['symb', 'retdate', 'opn', 'high', 'low','cls', 'vol', 'exch'], parse_dates = ['retdate'])
df2011 = pd.read_csv( '../Data/s2011.tdf',sep='\t', engine='python', names=['symb', 'retdate', 'opn', 'high', 'low','cls', 'vol', 'exch'], parse_dates = ['retdate'])
dffnd = pd.read_csv( '../Data/fnd.tdf',sep='\t', engine='python', names=['gvkey', 'datadate', 'fyear', 'indfmr','consol', 'popsrc', 'datafmt' , 'tic', 'cusip', 'conm', 'fyr', 'cash', 'dp','ebitda', 'emp', 'invt', 'netinc', 'ppent', 'rev' , 'ui', 'cik'])

In [5]:
df2010.dtypes

symb               object
retdate    datetime64[ns]
opn               float64
high              float64
low               float64
cls               float64
vol                 int64
exch               object
dtype: object

# First Five

1. Using the daily stock data from 2010, return an array of the unique trading days in 2010.

In [21]:
df2010.loc[:, 'retdate'].unique()

array(['2010-04-07T00:00:00.000000000', '2010-04-13T00:00:00.000000000',
       '2010-06-11T00:00:00.000000000', '2010-11-23T00:00:00.000000000',
       '2010-02-01T00:00:00.000000000', '2010-11-22T00:00:00.000000000',
       '2010-08-23T00:00:00.000000000', '2010-06-10T00:00:00.000000000',
       '2010-06-04T00:00:00.000000000', '2010-04-12T00:00:00.000000000',
       '2010-04-06T00:00:00.000000000', '2010-08-09T00:00:00.000000000',
       '2010-02-02T00:00:00.000000000', '2010-11-08T00:00:00.000000000',
       '2010-02-16T00:00:00.000000000', '2010-02-17T00:00:00.000000000',
       '2010-11-09T00:00:00.000000000', '2010-02-03T00:00:00.000000000',
       '2010-08-20T00:00:00.000000000', '2010-06-07T00:00:00.000000000',
       '2010-04-05T00:00:00.000000000', '2010-04-15T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2010-04-29T00:00:00.000000000',
       '2010-06-17T00:00:00.000000000', '2010-06-03T00:00:00.000000000',
       '2010-08-18T00:00:00.000000000', '2010-08-30T00:00:00.000000000',
       '2010-08-24T00:00:00.000000000', '2010-11-19T00:00:00.000000000',
       '2010-11-30T00:00:00.000000000', '2010-11-24T00:00:00.000000000',
       '2010-02-12T00:00:00.000000000', '2010-11-18T00:00:00.000000000',
       '2010-08-25T00:00:00.000000000', '2010-08-31T00:00:00.000000000',
       '2010-08-19T00:00:00.000000000', '2010-06-02T00:00:00.000000000',
       '2010-06-16T00:00:00.000000000', '2010-04-28T00:00:00.000000000',
       '2010-04-14T00:00:00.000000000', '2010-04-16T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-06-28T00:00:00.000000000',
       '2010-08-27T00:00:00.000000000', '2010-02-10T00:00:00.000000000',
       '2010-02-04T00:00:00.000000000', '2010-11-26T00:00:00.000000000',
       '2010-02-05T00:00:00.000000000', '2010-02-11T00:00:00.000000000',
       '2010-08-26T00:00:00.000000000', '2010-06-29T00:00:00.000000000',
       '2010-06-15T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-10-20T00:00:00.000000000', '2010-03-02T00:00:00.000000000',
       '2010-03-16T00:00:00.000000000', '2010-10-08T00:00:00.000000000',
       '2010-12-22T00:00:00.000000000', '2010-01-28T00:00:00.000000000',
       '2010-01-14T00:00:00.000000000', '2010-07-12T00:00:00.000000000',
       '2010-07-06T00:00:00.000000000', '2010-09-21T00:00:00.000000000',
       '2010-09-09T00:00:00.000000000', '2010-05-10T00:00:00.000000000',
       '2010-05-04T00:00:00.000000000', '2010-05-05T00:00:00.000000000',
       '2010-05-11T00:00:00.000000000', '2010-09-08T00:00:00.000000000',
       '2010-09-20T00:00:00.000000000', '2010-07-07T00:00:00.000000000',
       '2010-07-13T00:00:00.000000000', '2010-01-15T00:00:00.000000000',
       '2010-01-29T00:00:00.000000000', '2010-12-23T00:00:00.000000000',
       '2010-03-17T00:00:00.000000000', '2010-03-03T00:00:00.000000000',
       '2010-10-21T00:00:00.000000000', '2010-03-29T00:00:00.000000000',
       '2010-03-15T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-12-21T00:00:00.000000000', '2010-12-09T00:00:00.000000000',
       '2010-09-22T00:00:00.000000000', '2010-05-07T00:00:00.000000000',
       '2010-05-13T00:00:00.000000000', '2010-05-12T00:00:00.000000000',
       '2010-05-06T00:00:00.000000000', '2010-09-23T00:00:00.000000000',
       '2010-12-08T00:00:00.000000000', '2010-12-20T00:00:00.000000000',
       '2010-10-22T00:00:00.000000000', '2010-03-10T00:00:00.000000000',
       '2010-03-04T00:00:00.000000000', '2010-10-26T00:00:00.000000000',
       '2010-01-12T00:00:00.000000000', '2010-01-06T00:00:00.000000000',
       '2010-12-30T00:00:00.000000000', '2010-07-14T00:00:00.000000000',
       '2010-07-28T00:00:00.000000000', '2010-09-27T00:00:00.000000000',
       '2010-05-17T00:00:00.000000000', '2010-05-03T00:00:00.000000000',
       '2010-07-29T00:00:00.000000000', '2010-07-15T00:00:00.000000000',
       '2010-07-01T00:00:00.000000000', '2010-12-31T00:00:00.000000000',
       '2010-01-07T00:00:00.000000000', '2010-01-13T00:00:00.000000000',
       '2010-10-27T00:00:00.000000000', '2010-03-05T00:00:00.000000000',
       '2010-03-11T00:00:00.000000000', '2010-10-19T00:00:00.000000000',
       '2010-10-25T00:00:00.000000000', '2010-01-05T00:00:00.000000000',
       '2010-01-11T00:00:00.000000000', '2010-12-27T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-09-24T00:00:00.000000000',
       '2010-05-28T00:00:00.000000000', '2010-05-14T00:00:00.000000000',
       '2010-07-02T00:00:00.000000000', '2010-07-16T00:00:00.000000000',
       '2010-01-04T00:00:00.000000000', '2010-03-12T00:00:00.000000000',
       '2010-10-18T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-10-15T00:00:00.000000000', '2010-03-23T00:00:00.000000000',
       '2010-10-29T00:00:00.000000000', '2010-12-03T00:00:00.000000000',
       '2010-12-17T00:00:00.000000000', '2010-01-21T00:00:00.000000000',
       '2010-07-27T00:00:00.000000000', '2010-09-14T00:00:00.000000000',
       '2010-09-28T00:00:00.000000000', '2010-05-19T00:00:00.000000000',
       '2010-05-25T00:00:00.000000000', '2010-05-24T00:00:00.000000000',
       '2010-05-18T00:00:00.000000000', '2010-09-29T00:00:00.000000000',
       '2010-09-01T00:00:00.000000000', '2010-09-15T00:00:00.000000000',
       '2010-07-26T00:00:00.000000000', '2010-01-20T00:00:00.000000000',
       '2010-01-08T00:00:00.000000000', '2010-12-16T00:00:00.000000000',
       '2010-12-02T00:00:00.000000000', '2010-10-28T00:00:00.000000000',
       '2010-03-22T00:00:00.000000000', '2010-10-14T00:00:00.000000000',
       '2010-03-08T00:00:00.000000000', '2010-12-14T00:00:00.000000000',
       '2010-12-28T00:00:00.000000000', '2010-01-22T00:00:00.000000000',
       '2010-07-30T00:00:00.000000000', '2010-09-03T00:00:00.000000000',
       '2010-09-17T00:00:00.000000000', '2010-05-26T00:00:00.000000000',
       '2010-05-27T00:00:00.000000000', '2010-09-16T00:00:00.000000000',
       '2010-09-02T00:00:00.000000000', '2010-07-19T00:00:00.000000000',
       '2010-12-29T00:00:00.000000000', '2010-12-01T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-03-09T00:00:00.000000000',
       '2010-03-31T00:00:00.000000000', '2010-03-25T00:00:00.000000000',
       '2010-10-13T00:00:00.000000000', '2010-03-19T00:00:00.000000000',
       '2010-10-07T00:00:00.000000000', '2010-01-27T00:00:00.000000000',
       '2010-07-21T00:00:00.000000000', '2010-07-09T00:00:00.000000000',
       '2010-09-13T00:00:00.000000000', '2010-09-07T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-20T00:00:00.000000000',
       '2010-12-10T00:00:00.000000000', '2010-01-26T00:00:00.000000000',
       '2010-10-06T00:00:00.000000000', '2010-03-18T00:00:00.000000000',
       '2010-10-12T00:00:00.000000000', '2010-03-24T00:00:00.000000000',
       '2010-03-30T00:00:00.000000000', '2010-03-26T00:00:00.000000000',
       '2010-10-04T00:00:00.000000000', '2010-12-06T00:00:00.000000000',
       '2010-07-22T00:00:00.000000000', '2010-05-20T00:00:00.000000000',
       '2010-05-21T00:00:00.000000000', '2010-09-10T00:00:00.000000000',
       '2010-07-23T00:00:00.000000000', '2010-12-13T00:00:00.000000000',
       '2010-01-19T00:00:00.000000000', '2010-12-07T00:00:00.000000000',
       '2010-01-25T00:00:00.000000000', '2010-10-11T00:00:00.000000000',
       '2010-10-05T00:00:00.000000000', '2010-04-26T00:00:00.000000000',
       '2010-06-18T00:00:00.000000000', '2010-06-24T00:00:00.000000000',
       '2010-06-30T00:00:00.000000000', '2010-08-03T00:00:00.000000000',
       '2010-08-17T00:00:00.000000000', '2010-11-16T00:00:00.000000000',
       '2010-02-08T00:00:00.000000000', '2010-11-02T00:00:00.000000000',
       '2010-11-03T00:00:00.000000000', '2010-02-09T00:00:00.000000000',
       '2010-11-17T00:00:00.000000000', '2010-08-16T00:00:00.000000000',
       '2010-08-02T00:00:00.000000000', '2010-06-25T00:00:00.000000000',
       '2010-04-27T00:00:00.000000000', '2010-04-19T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-11-15T00:00:00.000000000',
       '2010-02-23T00:00:00.000000000', '2010-11-29T00:00:00.000000000',
       '2010-02-22T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-04-20T00:00:00.000000000', '2010-04-08T00:00:00.000000000',
       '2010-06-22T00:00:00.000000000', '2010-08-11T00:00:00.000000000',
       '2010-08-05T00:00:00.000000000', '2010-02-26T00:00:00.000000000',
       '2010-11-04T00:00:00.000000000', '2010-11-10T00:00:00.000000000',
       '2010-11-11T00:00:00.000000000', '2010-11-05T00:00:00.000000000',
       '2010-08-04T00:00:00.000000000', '2010-08-10T00:00:00.000000000',
       '2010-06-23T00:00:00.000000000', '2010-04-09T00:00:00.000000000',
       '2010-04-21T00:00:00.000000000', '2010-04-23T00:00:00.000000000',
       '2010-06-21T00:00:00.000000000', '2010-06-09T00:00:00.000000000',
       '2010-08-06T00:00:00.000000000', '2010-08-12T00:00:00.000000000',
       '2010-02-25T00:00:00.000000000', '2010-02-19T00:00:00.000000000',
       '2010-02-18T00:00:00.000000000', '2010-11-12T00:00:00.000000000',
       '2010-02-24T00:00:00.000000000', '2010-08-13T00:00:00.000000000',
       '2010-06-08T00:00:00.000000000', '2010-04-22T00:00:00.000000000'],
      dtype='datetime64[ns]')

2. Return the symbol, return date and the dollar volume traded for the highest dollar volume traded stocks in 2010 on the NYSE.

In [16]:
(df2010.loc[(df2010.loc[:, 'exch'] == 'NYSE'), :].
assign(dol_vol = df2010.loc[:, 'cls']*df2010.loc[:, 'vol']).
nlargest(1, 'dol_vol').loc[:, ['symb', 'retdate', 'dol_vol']])

         symb    retdate       dol_vol
553212  BRK.B 2010-02-12  2.415266e+10

3. Using the 2010 data, return the stock (symbol only) with the largest volume on Jan 11th that also appears on Dec 1st.

In [27]:
(df2010.loc[
    (df2010.loc[:, 'symb'].isin(df2010.loc[(df2010.loc[:, 'retdate'] == '2010-12-01'), 'symb'].unique()) &
    (df2010.loc[:, 'retdate'] == '2010-01-11')), :].
    nlargest(1, 'vol').
    loc[:, ['symb']])

       symb
468965    F

In [17]:
df2010.retdate

0        2010-04-07
1        2010-04-07
2        2010-04-07
3        2010-04-07
4        2010-04-07
            ...
816061   2010-01-25
816062   2010-01-25
816063   2010-01-25
816064   2010-01-25
816065   2010-01-25
Name: retdate, Length: 816066, dtype: datetime64[ns]